<%= error_messages_for 'submission' %>

<!--[form:admin_edit]-->

<p><label for="submission_submiss_status">Submission Status:</label><br/>
<%= select('submission', 'submiss_status', @submiss_status_choices)  %></p>

<p><label for="submission_submiss_status_date">Submission Status Date: (YYYY-MM-DD)</label><br/>
<%= text_field 'submission', 'submiss_status_date'  %></p>

<p><label for="submission_sss_ms_num">SSS MS Number:</label><br/>
<%= text_field 'submission', 'sss_ms_num'  %></p>

<p><label for="submission_delete_flag">Delete Flag: (YYYY-MM-DD Putting a date here removes this submission from displays)</label><br/>
<%= text_field 'submission', 'delete_flag'  %></p>

<!--[eoform:admin_edit]-->




