<h1><%= "Submission #{@submission.id} - Editing Admin-only Fields" %> </h1>

<%= form_for( @submission, :url => {:action => 'update_admin_edit', :id => @submission.id} ) do |f| %>

	<p>
	<%= f.label :submiss_status %> 	<br>
	<%= f.select :submiss_status, @submiss_status_choices %>
	</p>

	<p>
	<%= f.label :submiss_status_date %> <br>
	<%= f.text_field :submiss_status_date %>
	</p>
	
	<p>
	<%= f.label :sss_ms_num %> <br>
	<%= f.text_field :sss_ms_num %>
	</p>
	
	<p>
	<%= f.label :delete_flag %> <br>
	<%= f.text_field :delete_flag %>
	</p>

	<%= f.submit %>

<% end %>

<br>
<br>
<h2> Administrative Tools </h2>
<%= button_to("Create Revision", :controller => 'subm_cloning', :action => 'clone_subm_driver')%>
<br>
<br>
<%= button_to("Delete Submission", {:controller => 'submission', :action => 'flag_for_deletion'}, :confirm => "Flag submission #{@submission.id} for deletion? ")%>
<p>
   The Delete Submission button flags the current submission for deletion by entering a date  <br>
   into the delete_flag field (submissions table) and by prepending "DELETED - [today's date]" <br>
	 to the Submission Title
</p>
<br>
<br>
<% if @edit_new_flag == 'Editing'                          %>
<%=  link_to 'Show', :action => 'show', :id => @submission %>
<% end                                                     %>
<p> </p>


