<h1>Section B - Specimen Listing </h1>
<table cellpadding=5px cellspacing=5px>
  <tr>
    <th>Specimen #</th>
    <th>Host Mat'l</th>
    <th>CAS Reg#</th>
    <th>Chemical Name</th>
  </tr>

<% for specimen in @specimens %>
  <tr>
    <td><%=h specimen.send('seqnum') %></td>
    <td><%=h specimen.send('host') %></td>
    <td><%=h specimen.send('cas_registry_number') %></td>
    <td><%=h specimen.send('chemical_name') %></td>
    <td><%= link_to 'Show', :action => 'show', :id => specimen.id %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => specimen.id %></td>
    <td><%= link_to 'Delete', { :action => 'destroy', :id => specimen }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New specimen', :action => 'new' %>
