<br><br>
<% form_tag(:action => 'reset_password') do %>

		Password Reset Code: <br>
    <%= text_field('user', :password_reset_code, :size => 50) %><br><br>

		New Password:<br />
    <%= password_field_tag :password %><br /><br>

    Confirm Password:<br>
    <%= password_field_tag :password_confirmation %><br /><br>

	<%= submit_tag "Change Your Password" %>
<% end %>

<br><br>
<p align="center"><%= link_to('Login page', {:action => 'login'})%></p>

